/*　セルの中に表示される"Playwrite SK"というフォントをimportしました */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');

:root {
  --bg-content: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  --bg-main-container-border: #9d9e98;
  /* navbar */
  --bg-nav-item: rgb(172, 172, 172);
  --bg-nav-slider: rgb(119, 38, 38, 0.5);

  /* scoreboard */
  --bg-playerX: #003cff;
  --bg-playerO: #dc3545;
  --bg-playerO-border: rgb(218, 58, 26);
  --color-vs: rgb(129, 23, 23);

  /* board */
  --bg-board: rgb(119, 38, 38);
  --bg-board-cell: rgb(221, 221, 221);
  --bg-board-cell-hover: #d8e0edcb; 
  --bg-board-cell-active: rgba(255, 255, 255, 0.7);
  --bg-ultimate-board-border: rgb(86, 6, 6, 0.6);

  /* info */
  --bg-info: rgba(205, 213, 205, 0.486);
  --bg-info-border-top: rgb(86, 6, 6, 0.8);

  /* options & name-setting  */
  --bg-menu: #0e110eaf;
  --bg-menu-board: linear-gradient(#883737, #551919);
  --bg-menu-board-border: rgb(64, 24, 24);
  --bg-box-shadow: rgba(0, 0, 0, 0.5);
  --bg-options-cpu-level-selection: antiquewhite;

  --color-white: white;
  --color-black: black;
  --color-gray: gray;
  --color-yellow: yellow;
}

:root > body {
  font-family: 'Times New Roman', Times, serif;
  background: var(--bg-content);
}

/*** navbar ***/
.navbar {
  background-color: var(--bg-board);
  color: var(--bg-white);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .sidebar {
  background-color: var(--bg-nav-slider);
  backdrop-filter: blur(10px);
}

.navbar .sidebar h5 {
  color: var(--color-yellow);
}

.nav-item:hover {
  background-color: var(--bg-nav-item);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 1rem var(--bg-box-shadow);
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .offcanvas-body .nav-item:hover {
    text-align: center;
    transform: scale(1.1);
    width: 100%;
  }
}

/*** ---------------- Nomal mode ---------------------- ***/
.main-container {
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem 1.8rem 0;
  padding: 1.2rem;
  border: ridge .5rem var(--bg-main-container-border);
  border-radius: 0.938rem;
  box-shadow: 0 0 0.938rem var(--bg-box-shadow);
}
    
@media (max-width: 768px) {
  .main-container {
    padding: 1.4rem 0.8rem;
    border: ridge 0.28rem var(--bg-main-container-border);
  }
}

/*** Scoreboard section ***/
#scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 50vh;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
}

.scoreboard__player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  font-family: 'Times New Roman', Times, serif;
}

#scoreboard__X {
  background-color: var(--bg-playerX);
  color: var(--color-white);
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
  border: ridge 0.4rem var(--bg-playerX);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
}

#scoreboard__X__score {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 1.25rem;
  border: solid 0.2rem var(--color-gray);
  padding: 0 0.2rem;
  font-weight: bold;
}

#scoreboard__O {
  background-color: var(--bg-playerO);
  color: var(--color-white);
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
  border: ridge 0.4rem var(--bg-playerO-border);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
}

#scoreboard__O__score {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 1.25rem;
  border: solid 0.2rem var(--color-gray);
  padding: 0 0.2rem;
  font-weight: bold;
}

.scoreboard__mark {
  font-family: "Playwrite SK", cursive;
  color: var(--color-yellow);
}

.scoreboard__vs {
  color: var(--color-vs);
  padding: 0 0.625rem;
  font-size: 1.5rem;
}

@media (max-width: 1120px) {
  #scoreboard {
    flex-direction: row;
    height: 12vh;
    width: 80vw;
  }

  .scoreboard__player {
    padding: 0.2rem 0.8rem;
  }

  #scoreboard .scoreboard__vs {
    padding: 0 0.4;
    font-size: 1rem;
  }

  .scoreboard__player h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .scoreboard__mark {
     display: none;
   } 
 }

@media (max-width: 500px) {
  #scoreboard .scoreboard__player {
    display: flex;
    flex-direction: column;
  }

  .scoreboard__player h2 {
    font-size: 0.8rem;
  }
}

/*** Board Section ***/ 
.board__container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 55vh;
  height: 55vh;
  gap: 0.4rem;
  padding: 0.4rem;
  background-color: var(--bg-board);
  border-radius: 0.25rem;
  border: ridge 1.2rem var(--bg-board);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
}

.board__container__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-board-cell);
  font-family: "Playwrite SK", cursive;
  font-size: 1.8rem;
  font-weight: bold; 
  cursor: pointer;
}

.board__container__cell:hover {
  background-color: var(--bg-board-cell-hover);
}

@media (max-width: 1120px) {
  .board__container {
    height: 396px;
    width: 396px;
  }

  .board__container__cell {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .board__container {
    height: 300px;
    width: 300px;
  }
}

/*** Info section ***/
#info {
  padding: 1rem;
  background-color: var(--bg-info);
  border-top: ridge 0.625rem var(--bg-info-border-top);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
  width: 85vw;
  height: 15vh;
}

.info__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
  
#info__message {
  font-size: 2rem;
  height: 10vh;
  width: 22vw;
}

#info .info__container button {
  border: ridge 0.425rem var(--color-gray);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
  font-size: 1.5rem;
  width: 20vw;;
}

#info .info__container button:hover {
  transform: scale(1.1);
}

@media (max-width: 1120px) {
  #info .info__container button {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  #info__message {
    font-size: 1rem;
  }

  #info .info__container button {
    border: ridge 0.3rem var(--color-gray);
    font-size: 1rem;
  }
}

@media (max-width: 530px) {
  #info .info__container button {
    font-size: 0.625rem;
    padding: 0.5rem;
  }
}

/*** Menu Display ***/
.menu {
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-menu);
}

.menu__board__title {
  margin-bottom: 2.5rem;
  width: 100%;
}

input.checkbox {
  width: 15px;
  height: 15px;
}

/*** Navbar - Name Settings ***/
#name-setting .name-setting__board {
  background: var(--bg-menu-board);
  color: var(--color-yellow);
  border: ridge 0.8rem var(--bg-menu-board-border);
  border-radius: 1.25rem;
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
  height: 80vh;
  width: 60vw; 
  text-align: center;
}

.name-setting__board__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.name-setting__board__checkbox-container {
  padding: 1.4rem 0;
  display: flex;
  justify-content: space-around;
  width: 60%;
  border: thick double white;
  margin-bottom: 1.25rem;
}

#name-setting .name-setting__board form {
  height: 65%;
}

#name-setting .name-setting__board form input {
  margin: 1.25rem;
  font-size: 1.2rem;
  padding: 0.625rem 0.625rem;
  border-radius: 1rem;
  width: 100%;
  height: 15%;
  font-weight: bold;
  border: ridge 2mm var(--color-gray);
}

#name-setting .name-setting__board form input#name-setting__form__submit {
  padding: 0;
}

::placeholder {
  font-style: italic;
}

input[type="submit"]:hover {
  transform: translateY(0.125rem);
}

@media (max-width: 991px) {
  #name-setting .name-setting__board {
    width: 70vw; 
  }

  .menu__board__title {
    font-size: 1.7rem;
  }

  .name-setting__board__checkbox-container {
    flex-direction: column;
  }

  #name-setting .name-setting__board label {
    font-size: 0.8rem;
  }

  #name-setting .name-setting__board form {
    height: 55%;
    width: 60%;
  }

  #name-setting .name-setting__board form input {
    font-size: 1rem;
  }
}

/*** Navbar - Options ***/
#options .options__board {
  background: var(--bg-menu-board);
  color: var(--color-yellow);
  border: ridge 1rem var(--bg-menu-board-border);
  border-radius: 1.25rem;
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
  height: 80vh;
  width: 80vw; 
  text-align: center;
}

.options__board__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.options__board__checkbox-container {
  display: flex;
  justify-content: space-around;
  border: thick double var(--color-white);
  width: 80%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.options__audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 65%;
  height: 15%;
}
  
#options__audio {
  border: ridge 2mm var(--color-gray);
  border-radius: 1.5rem;
  width: 70%;
}

.options__level-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

#options__level-selection {
  background-color: var(--bg-options-cpu-level-selection);
  border: ridge 2.2mm var(--color-gray);
  border-radius: 1.5rem;
  border-radius: 2.188rem;
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}


@media (max-width: 991px) {
  .options__board__checkbox-container legend{
    font-size: 0.85rem;
  }

  #options__audio {
    width: 100%;
    height: 40%;
  }

  #options__level-selection {
    font-size: 0.6rem;
    padding: 0.6rem;
  }
}

@media (max-width: 500px) {
  .options__audio-container {
    width: 90%;
  }
}


/*** -------------- Ultimate mode ------------ ***/

/*** container ***/
.ultimate-container {
  justify-content: end;
  align-items: space-around;
  flex-direction: column; 
  padding: 0.5rem;
  width: 100vw;
  height: 100vh;
} 

.ultimate-inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1120px) {
  .ultimate-container {
    justify-content: center;
  }
}

/*** Scoreboard ***/
#ultimate-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  height: 20vh;
  width: 50vh;
}

.ultimate-scoreboard__player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
}

#ultimate-scoreboard__X {
  border-radius: 1rem;
  border: 3mm ridge var(--bg-playerX);
  background-color: var(--bg-playerX);
  color: var(--color-white);
}
  
#ultimate-scoreboard__X-score {
  border: solid 0.2rem var(--color-gray);
  border-radius: 1.25rem;
  padding: 0 0.2rem;
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: bold;
}

#ultimate-coreboard__O {
  border: ridge 3mm var(--bg-playerO-border);
  border-radius: 1rem;
  background-color: var(--bg-playerO);
  color: var(--color-white);
}
 
#ultimate-scoreboard__O-score {
  border: solid 0.2rem var(--color-gray);
  border-radius: 1.25rem;
  padding: 0 0.2rem;
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: bold;
}

@media (max-width: 1120px) {
  #ultimate-scoreboard {
    flex-direction: row; 
    margin-top: 80px;
    height: 10vh;
    width: 80vw;    
  }
  
  .ultimate-scoreboard__player {
    padding: 1.5rem 0.8rem;
  }

  .ultimate-scoreboard__player h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 600px) {
  #ultimate-scoreboard {
    width: 100vw;
  }

  .ultimate-scoreboard__player{ 
    flex-direction: column; 
    justify-content: center; 
  }
  .ultimate-scoreboard__player h2{ 
    font-size: 0.8rem;
  }
}

/*** Board ***/
#ultimate__board {
  width: 70vh;
  height: 70vh;
}

.ultimate__board__container {
  display: grid;
  background-color: var(--bg-board);
  border: 6mm ridge var(--bg-ultimate-board-border);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
  border-radius: 0.25rem;
  gap: 0.4rem;
  width: 100%;
  height: 100%;
  padding: 0.4rem; 
}

.ultimate__mini-board__container {
  display: grid;
  gap: 0.1rem;
  background-color: var(--bg-board);
  position: relative;/* ミニボードをセルの相対値として設定 */
  font-family: "Playwrite SK", cursive;
}
 /* Xで制覇されたら大きいXを表示 */
.ultimate__mini-board__container.wonX::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-winner);
  color: var(--bg-playerX);
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  font-size: 100px;
  top: 50%;
  left: 50%;
}
/* Oで制覇されたら大きいXを表示 */
.ultimate__mini-board__container.wonO::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-winner);
    color: var(--bg-playerO);
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 100px;
}

.ultimate__mini-board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--bg-board-cell);
}

.ultimate__mini-board-cell:hover {
  background-color: var(--bg-board-cell-hover);
}
/* 次のプレーヤーがプレーするミニボードを表示 (hoverと同じ色) */
.ultimate__mini-board-cell.next {
  background-color: var(--bg-board-cell-hover); 
}
/*　アクティブセルを赤く表示　*/
.ultimate__mini-board-cell.active {
  background-color: var(--bg-board-cell-active);
}

@media (max-width: 1120px) {
  #ultimate__board {
    height: 500px;
    width: 500px;
  }

  .ultimate__board__container {
    border: 4mm ridge var(--bg-ultimate-board-border);
  }
}

@media (max-width: 520px) {
  #ultimate__board {
    height: 400px;
    width: 400px;
  }

  .ultimate__mini-board__container.wonX::after {
    font-size: 78px;
  }

  .ultimate__mini-board__container.wonO::after {
    font-size: 78px;
  }
}

@media (max-width: 400px) {
  #ultimate__board {
    height: 350px;
    width: 350px;
  }
}

/*** Info ***/
#ultimate-info {
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow); 
  border-top: 4mm ridge var(--bg-ultimate-board-border);
  background-color: var(--bg-info); 
  padding: 1rem;
  width: 90vw;
  height: 15vh;
}

.ultimate-info__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#ultimate-info__message {
  font-size: 2rem;
  height: 10vh;
  width: 24vw;
}

#ultimate-info .ultimate-info__container button {
  border-top: 3mm ridge var(--color-gray);
  box-shadow: 0 0 0.938rem var(--bg-box-shadow), inset 0 0 0.938rem var(--bg-box-shadow);
  font-size: 1.5rem;
  width: 20vw;
}

#ultimate-info .ultimate-info__container button:hover {
  transform: scale(1.1);
}

@media (max-width: 1120px) {
  #ultimate-info .ultimate-info__container button {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  #ultimate-info .ultimate-info__container #ultimate-info__message {
    font-size: 1.3rem;
  }

  #ultimate-info .ultimate-info__container button {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  #ultimate-info .ultimate-info__container #ultimate-info__message {
    font-size: 1.1rem;
  }
  #ultimate-info .ultimate-info__container button {
    font-size: 0.8rem;
    width: 22vw;
  }
}
